@{
    ViewData["Title"] = "Series";
}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2></h2>
            <p>Se esfuerza mucho para sacar provecho de ello</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <div class="image">
                    <img src="img/about.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-left">
                <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                    <h3>Proporcionan los placeres más valiosos, como el cuerpo.</h3>
                    <p class="fst-italic">
                        Es muy importante cuidar al paciente, el paciente será seguido por el paciente, pero sucederá al mismo tiempo que el parto y el dolor.
                        algunas cosas geniales
                    </p>
                    <ul>
                        <li><i class="bx bx-check-double"></i> No trabajo en absoluto excepto para sacar alguna ventaja de ello.</li>
                        <li><i class="bx bx-check-double"></i> Duda o dolor irrure en las reprimendas en el placer que desea.</li>
                        <li><i class="bx bx-check-double"></i> No trabajo en absoluto excepto para sacar alguna ventaja de ello. Duis aureur irrure dolor in reprehendit in placer tridetas storacaperda mastir dolor eu fu una brevet.</li>
                    </ul>
                    <p>
                        No trabajo en absoluto excepto para sacar alguna ventaja de ello. Dudas o irure el dolor en la reprimenda en el placer
                        Quiere ser un pelo, que huya del dolor, y nadie dará a luz. A menos que estén cegados por la lujuria, no salen, están en
                        La culpa de quien abandona sus deberes ablanda el alma, es decir, los trabajos
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>Se esfuerza mucho en aprovechar sus consecuencias de algo que en realidad se le escapa.</p>
        </div>

        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                    <i class="bx bx-receipt"></i>
                    <h4>Es un trabajo duro</h4>
                    <p>Son el resultado, o por así decirlo, de algo que es igual a estos trabajos, excepto que algunos</p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-cube-alt"></i>
                    <h4>de estos que</h4>
                    <p>A menos que estén cegados por la lujuria, no salen; están en falta quienes abandonan sus deberes.</p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-images"></i>
                    <h4>O se desmayó</h4>
                    <p>O se lo lleva con nadie, o con todos. Todos los dolores que hacen los mayores</p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-shield"></i>
                    <h4>de la bendita verdad</h4>
                    <p>Los expedientes de la verdad no tienen importancia en el momento de la vida de aquellos que alaban los pactos                                                                                                                                                                                                                                                                                </p>
                </div>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("img/services.jpg");' data-aos="fade-left" data-aos-delay="100"></div>
        </div>

    </div>
</section><!-- End Services Section -->
